.homepage-container {
  background-color: #0084cd;
  min-height: calc(100vh - 16vw);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 8vw 8vw;
  color: white;
}

.chunk {
  padding-top: 1em;
}

.subline {
  font-size: 0.9em;
}

@media (min-width : 320px) and (max-width : 480px) {
  .homepage-container {
    padding: 6vh 0 0 0;
  }

  .landing {
    padding: 0 6vw;
  }
}