.links {
	a {
		color: #656566;
		fill: #656566;

		span {
			margin-left: 0.3em;
		}
		.svg-container {
			width: 20px;
			height: 20px;
			display: inline-block;

			svg {
				color: #656566;
				fill: #656566;
			}
		}
	}
}
