.container {
  position: relative;
  /* width: 50%; */
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  transition: .35s ease;
  bottom: -50%;
  background-color: white;
}

.container:hover .overlay {
  bottom: 0;
}

.text {
  color: #0084cd;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media (min-device-width : 320px) and (max-device-width : 480px) {
  .overlay {
    bottom: 0;
    position: relative;
  }
  .text {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 1em 0;
  }
}