.portfolio {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 2em;
    grid-column-gap: 0.8em;
    max-width: 1080px;
}

p { 
    font-size: 0.8em;
}

@media (min-width : 320px) and (max-width : 640px) {
    .portfolio {
        grid-template-columns: auto;
        grid-row-gap: 1em;
    }
}