.portfolio {
    display: flex;
    padding-top: 2em;
    max-width: 1080px;
    flex-wrap: wrap;
}

p { 
    font-size: 0.8em;
}

@media (max-width:800px) {
    .portfolio {
        flex-direction: column;
    }
}

@media (min-widt:480px) and (max-width:800px) {
    .portfolio {
        width: 100%;
    }
}
